<div class="form-box">

  <div class="logo" [routerLink]="['/']">viewer</div>
  <h1>Recover account</h1>

  <p>
    Enter email address and if that email is in our database
    we will send you recovery instructions.
  </p>

  <form [formGroup]="form" (ngSubmit)="submitForm()">

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="email">E-mail</nz-form-label>
      <nz-form-control>
        <input nz-input name="email" type="email" id="email"
               aria-label="Enter email"
               formControlName="email" placeholder="Enter email" />
        <nz-form-explain *ngIf="fieldInvalid('email')">
          {{ getErrorHint('email') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item >

    <nz-form-item>
      <nz-form-control>
        <button nz-button class="submit-btn"
                [disabled]="!form.valid" [title]="form.valid ? '' : 'Invalid input'">
          <i class="anticon anticon-spin anticon-loading" *ngIf="loading"></i>
          {{submitText}}
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>

  <div class="form-links">
    <p>Remember the password? <a [routerLink]="['/login']">Login.</a></p>
  </div>

</div>
