<div class="form-box">

  <div class="logo" [routerLink]="['/']">viewer</div>
  <h1>{{submitted ? 'Check email' : 'Register'}}</h1>

  <!-- REGISTERED -->
  <div *ngIf="submitted">
    <p>
      We have send you an email with activation link.
      Follow instructions there.
    </p>

    <nz-divider nzText="Check the SPAM folder!"></nz-divider>

    <p class="button-description-top">If you didn't receive the email within 10 min.</p>
    <button nz-button [disabled]="!allowResend"
            title="{{allowResend ? 'Resend activation email' : 'Wait before resending!'}}"
            class="submit-btn" (click)="resendActivation()">
      Resend email
    </button>
  </div>
  <!-- NOT REGISTERED -->
  <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="!submitted">

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="email">E-mail</nz-form-label>
      <nz-form-control>
        <input nz-input name="email" type="email" id="email"
               aria-label="Enter email"
               formControlName="email" placeholder="Enter email" />
        <nz-form-explain *ngIf="fieldInvalid('email')">
          {{ getErrorHint('email') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="password">Password</nz-form-label>
      <nz-form-control>
        <input nz-input name="password" type="password" id="password"
               aria-label="Enter password"
               formControlName="password" placeholder="Enter password" />
        <nz-form-explain *ngIf="fieldInvalid('password')">
          {{ getErrorHint('password') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="repeatedPassword">Confirm password</nz-form-label>
      <nz-form-control>
        <input nz-input name="repeatedPassword" type="password" id="repeatedPassword"
               aria-label="Confirm password"
               formControlName="repeatedPassword" placeholder="Confirm password" />
        <nz-form-explain *ngIf="fieldInvalid('repeatedPassword')">
          {{ getErrorHint('repeatedPassword') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item >

    <nz-form-item>
      <nz-form-control>
        <button nz-button class="submit-btn"
                [disabled]="!form.valid" [title]="form.valid ? '' : 'Invalid input'">
          <i class="anticon anticon-spin anticon-loading" *ngIf="loading"></i>
          {{submitText}}
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>

  <div class="form-links" *ngIf="!submitted">
    <p>Already have an account? <a [routerLink]="['/login']">Login.</a></p>
  </div>

</div>
