<nz-layout style="height: 100%;">
  <nz-content class="box-content">

    <!-- Centered column -->
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzXs="20" nzSm="16" nzMd="12">

        <!-- Content wrapper -->
        <div class="box-container">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>

  </nz-content>
</nz-layout>
