<p>
  <a [routerLink]="['/']" class="text-dark-cyan">
    <i nz-icon type="left-circle" theme="outline"></i>
    My Projects
  </a>
</p>

<h1>Create project</h1>

<p>
  Use form below to create project details and add new files.
</p>

<form [formGroup]="form" (ngSubmit)="submitForm()" style="max-width: 400px;">

  <nz-form-item>
    <nz-form-label nzFor="name" [nzRequired]="isRequired('name')">
      Project name
    </nz-form-label>
    <nz-form-control>
      <input nz-input name="name" id="name"
             aria-label="Enter project name"
             formControlName="name" placeholder="Project's name" />
      <nz-form-explain *ngIf="fieldInvalid('name')">
        {{ getErrorHint('name') }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="description" [nzRequired]="isRequired('description')">
      Project description
    </nz-form-label>
    <nz-form-control>
      <input nz-input name="description" id="description"
             aria-label="Enter project description (optional)"
             formControlName="description" placeholder="Project's description (optional)" />
      <nz-form-explain *ngIf="fieldInvalid('description')">
        {{ getErrorHint('description') }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!-- FILE UPLOAD -->
  <h3>
    Model
    <i nz-icon type="question-circle" theme="outline"
       class="hint-icon" (click)="showHint()"></i>
  </h3>
  <p>{{mode.description}}</p>

  <!-- FILE UPLOAD MENU -->
  <div class="button-menu" *ngIf="mode.name === 'menu'">
    <button nz-button type=button (click)="selectMode('microscope')"
            [disabled]="true" title="Option not available yet.">
      <i nz-icon type="picture" theme="outline"></i>
      AUTO
      <span>from microscope image</span>
    </button>
    <button nz-button type=button (click)="selectMode('manual')"
            [disabled]="true" title="Option not available yet.">
      <i nz-icon type="solution" theme="outline"></i>
      MANUAL
      <span>manually fill data</span>
    </button>
    <button nz-button type=button (click)="selectMode('coordinates')">
      <i nz-icon type="file-text" theme="outline"></i>
      CSV
      <span>Spreadsheet file.</span>
    </button>
    <button nz-button type=button (click)="selectMode('model')">
      <i nz-icon type="upload" theme="outline"></i>
      MODEL
      <span>complete JSON model.</span>
    </button>
  </div>

  <!-- MANUAL CREATION FORM -->
  <div *ngIf="mode.name === 'manual'">
    <a (click)="selectMode('menu')">Change mode</a>
    <p>TODO: add form for manually creating JSON model!</p>
  </div>

  <!-- FILE UPLOAD FORM -->
  <div *ngIf="['microscope', 'coordinates', 'model'].includes(mode.name)">
    <a (click)="selectMode('menu')">Change mode</a>
    <nz-upload nzType="drag"
               [nzFileList]="[]"
               [nzBeforeUpload]="handleFile">
      <p class="ant-upload-drag-icon">
        <i nz-icon *ngIf="file.valid === undefined" type="inbox"></i>
        <i nz-icon *ngIf="file.valid === true" type="check-circle"></i>
        <i nz-icon *ngIf="file.valid === false" type="close-circle" style="color: #cd0000"></i>
      </p>
      <p class="ant-upload-text">
        {{ file.message || 'Click or drag file to this area to upload' }}
      </p>
    </nz-upload>
  </div>

  <!-- SUBMIT BUTTON -->
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="submit-btn" type="submit"
              [disabled]="!form.valid" [title]="form.valid ? '' : 'Invalid input'">
        <i class="anticon anticon-spin anticon-loading" *ngIf="loading"></i>
        {{submitText}}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
