<nz-header>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <div class="logo" routerLink="/">Viewer 3.0</div>

    <!-- RIGHT MENU (reversed order!) -->
    <li nz-submenu class="right user-menu">

      <span title>
        <span class="hide-mobile" style="margin-right: 10px;">{{email}}</span>
        <i nz-icon type="user" theme="outline"></i>
      </span>
      <ul>

        <!-- TODO uncomment when account page is ready -->
        <!--<li nz-menu-group>-->
          <!--<span title>Account</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item routerLink="/account" routerLinkActive="active">-->
              <!--<i nz-icon type="setting" theme="outline"></i>-->
              <!--Settings-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->

        <li nz-menu-group>
          <span title>Actions</span>
          <ul>
            <li nz-menu-item (click)="logout()">
              <i nz-icon type="logout" theme="outline"></i>
              Log out
            </li>
          </ul>
        </li>

      </ul>
    </li>

  </ul>
</nz-header>
