<nz-spin [nzSpinning]="!ready" id="viewer">
<div class="control-panel">
  <div class="" [ngClass]="{'fixed-top':fixMenu}">
    <ul nz-menu [nzMode]="'horizontal'" class="viewer-menu">

      <li nz-submenu>
      <span title>
        <i nz-icon type="file"></i>
        <span class="hide-mobile">File</span>
      </span>
        <ul>
          <li nz-menu-group>
            <span title>Actions</span>
            <ul>
              <li nz-menu-item (click)="exportGLTF()">
                <i nz-icon type="save" class="submenu-icon"></i>
                Export model
              </li>
              <li nz-menu-item (click)="takeScreenshot()">
                <i nz-icon type="camera" class="submenu-icon"></i>
                Screenshot
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li nz-submenu>
      <span title>
        <i nz-icon type="highlight"></i>
        <span class="hide-mobile">Edit</span>
      </span>
        <ul>
          <li nz-menu-group>
            <span title>Actions</span>
            <ul>
              <li nz-menu-item (click)="showAll()">
                <i nz-icon type="plus" theme="outline"></i>
                Show all
              </li>
              <li nz-menu-item (click)="hideAll()">
                <i nz-icon type="minus" theme="outline"></i>
                Hide all
              </li>
              <li nz-menu-item (click)="showSelected()">
                <i nz-icon type="plus-square" theme="outline"></i>
                Show selected
              </li>
              <li nz-menu-item (click)="hideSelected()">
                <i nz-icon type="minus-square" theme="outline"></i>
                Hide selected
              </li>
              <li nz-menu-item (click)="clearSelection()">
                <i nz-icon type="close-circle" theme="outline"></i>
                Clear selection
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li nz-submenu>
      <span title>
        <i nz-icon type="layout"></i>
        <span class="hide-mobile">View</span>
      </span>
        <ul>
          <li nz-menu-group>
            <span title>Actions</span>
            <ul>
              <li nz-menu-item (click)="togglePerformanceWidget()">
                <i nz-icon type="area-chart" theme="outline"></i>
                Performance monitor
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li nz-submenu>
      <span title>
        <i nz-icon type="question"></i>
        <span class="hide-mobile">Help</span>
      </span>
        <ul>
          <li nz-menu-group>
            <span title>Actions</span>
            <ul>
              <li nz-menu-item (click)="showTutorial()">
                <i nz-icon type="info-circle" class="submenu-icon"></i>
                Show tutorial
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li nz-menu-item class="pin" [ngClass]="{'pin-selected': fixMenu}" (click)="fixMenu = !fixMenu">
        <i nz-icon type="pushpin" theme="outline" *ngIf="!fixMenu"></i>
        <i nz-icon type="pushpin" theme="fill" *ngIf="fixMenu"></i>
      </li>

    </ul>
  </div>


  <!-- TODO there is nothing to display here right now -->
  <!--<h4 class="panel-header">Information</h4>-->
  <!--<p style="padding-left: 10px">Project metadata will be displayed here</p>-->

</div>


  <div class="canvas-container" #viewerCanvas  style="display: flex; height: 750px;">

    <div class="viewer-colors">

      <div class="color-box current-color"
           [ngStyle]="{'background': currentColor.hex}"
           [title]="currentColor.name"></div>

      <hr>

      <div class="available-colors">
        <div class="color-box available-color" *ngFor="let name of enabledColors"
             [ngStyle]="{'background': colors[name].hex}"
             [title]="colors[name].name"
             (click)="setCurrentColor(name)"></div>
      </div>

    </div>

    <div style="flex: 1;">
      <canvas class="viewer-canvas"
              (mousedown)="onMouseDown($event)"
              (mouseup)="onMouseUp($event)"
              (mousemove)="onMouseMove($event)"
              (click)="onMouseClick($event)"
              #canvas></canvas>

      <!-- HOVER INDICATOR -->
      <div class="viewer-tooltip">
        {{INTERSECTED && INTERSECTED.name}}
      </div>

    </div>

    <div class="viewer-tree">
      <div class="tree-container">
        <h3 class="tree-header">objects</h3>

        <div class="tree-wrapper">
          <nz-tree
            #treeCom
            [nzData]="nodes"
            nzMultiple="true"
            (nzClick)="activeNode($event)"
            (nzDblClick)="openFolder($event)"
            *ngIf="ready">

            <ng-template #contextGroupTemplate>
              <ul nz-menu nzInDropDown>
                <li nz-menu-item (click)="selectDropdown('file')">Group</li>
                <li nz-menu-item (click)="selectDropdown('folder')">Group</li>
              </ul>
            </ng-template>

            <ng-template #nzTreeTemplate let-node>

        <span class="custom-node" [class.active]="activatedNode?.key===node.key"
              [ngClass]="{'hover': node.origin.group?.hover, 'locked': node.origin.group?.locked }"
              (mouseenter)="toggleHover(node.origin.group, true)"
              (mouseleave)="toggleHover(null)">

          <span class="object-item" style="color: white;">

            <i nz-icon style="margin-right: 5px"
               [type]="node.origin.group?.selectable ? 'bulb' : 'stop'"
               *ngIf="node.isLeaf"
               [theme]="(node.origin.group?.selected) ? 'fill' : 'outline'"
               [title]="(node.origin.group?.selected) ? 'Selected' : (node.origin.group?.selectable) ? 'Select' : 'Not interactive'"
               [style.cursor]="node.origin.group?.selectable ? 'pointer' : 'default'"
               [style.color]="getBackground(node.origin.group)"
               (click)="toggleSelect(node.origin.group)"></i>

            <span class="group-name"
                  [title]="node.title"
                  [style.text-decoration]="(node.origin.group?.visible) ? 'none' : 'line-through' ">
              {{node.title}}
            </span>

            <div class="object-actions">

                <i nz-icon type="highlight" style="margin-left: 5px; cursor: pointer"
                   [title]="node.origin.group?.selectable ? 'Ignore object' : 'Make interactive'"
                   [theme]="node.origin.group?.selectable ? 'fill' : 'outline'"
                   (click)="toggleSelectable(node.origin.group)"></i>

                <i nz-icon style="margin-left: 5px; cursor: pointer" type="eye"
                   [title]="(node.origin.group?.visible) ? 'Hide' : 'Show'"
                   [theme]="(node.origin.group?.visible) ? 'fill' : 'outline'"
                   (click)="toggleVisible(node.origin.group)"></i>

                <i nz-icon style="margin-left: 5px; cursor: pointer" [type]="(node.origin.group?.locked) ? 'lock' : 'unlock'"
                   [title]="(node.origin.group?.locked) ? 'Unlock' : 'Lock'"
                   [theme]="(node.origin.group?.locked) ? 'fill' : 'outline'"
                   (click)="toggleLock(node.origin.group)"></i>
            </div>

          </span>

        </span>

            </ng-template>

          </nz-tree>
        </div>
      </div>

    </div>

  </div>

</nz-spin>
