<p>
  <a [routerLink]="['/']" class="text-dark-cyan">
    <i nz-icon type="left-circle" theme="outline"></i>
    My Projects
  </a>
</p>

<h1 class="editable">
  <input value="{{item.name}}"
         [readonly]="!editable['name']"
         aria-label="Project name"
         #name
         elastic-input/>

  <span style="font-size: 0.8em; margin-left: 10px;">
    <i nz-icon type="edit" class="edit-button"
       (click)="toggleEdit('name', name);"
       *ngIf="!editable['name']"></i>

    <i nz-icon type="check" class="edit-button"
       (click)="saveEdit('name', name)"
       *ngIf="editable['name']"></i>

    <i nz-icon type="close" class="edit-button"
       (click)="cancelEdit('name', name)"
       *ngIf="editable['name']"></i>
  </span>

</h1>

<h3 class="editable">
  Description
  <span style="margin-left: 10px;">
    <i nz-icon type="edit" class="edit-button"
       (click)="toggleEdit('description', description);"
       *ngIf="!editable['description']"></i>

    <i nz-icon type="check" class="edit-button"
       (click)="saveEdit('description', description)"
       *ngIf="editable['description']"></i>

    <i nz-icon type="close" class="edit-button"
       (click)="cancelEdit('description', description)"
       *ngIf="editable['description']"></i>
  </span>
</h3>

<div class="editable">
  <textarea value="{{item.description}}"
            placeholder="No description"
            [readonly]="!editable['description']"
            aria-label="Project description"
            style="width: 100%; margin-bottom: 10px; resize: none;"
            #description></textarea>
</div>

<h3>Model</h3>
<p>
  Troubles with model?
  <a (click)="showCompatibility = !showCompatibility">Show compatibility information.</a>
</p>
<p *ngIf="showCompatibility">
  This application was tested on Chrome, Opera and Firefox browsers.
  Check if application is working in other browsers before reporting a bug.
  Dedicated graphic card is recommended to work with large models.
  Remember to update your GPU drivers.
</p>

<p *ngIf="!coordinates">
  <nz-spin></nz-spin>
  Loading model...
</p>

<app-model-viewer [model]="coordinates" [project]="item" *ngIf="coordinates"></app-model-viewer>
