<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">

  <!-- EMAIL -->
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="email">Your email</nz-form-label>
        <nz-form-control>
          <input nz-input name="email" type="email" id="email"
                 aria-label="Enter email"
                 [title]="form.get('email').disabled ? 'Account\'s email address' : ''"
                 formControlName="email" placeholder="Please enter your email">
        </nz-form-control>
        <nz-form-explain *ngIf="fieldInvalid('email')">
          {{ getErrorHint('email') }}
        </nz-form-explain>
      </nz-form-item>
    </div>
  </div>

  <!-- CATEGORY & TOPIC -->
  <div nz-row nzGutter="24">

    <div nz-col [nzXs]="24" [nzMd]="6">
      <nz-form-item>
        <nz-form-label nzFor="category">Category</nz-form-label>
        <nz-form-control>
          <nz-select name="category" id="category" formControlName="category"
                     nzPlaceHolder="Select category">
            <nz-option nzValue="bug" nzLabel="Bug report"></nz-option>
            <nz-option nzValue="feature" nzLabel="Feature request"></nz-option>
            <nz-option nzValue="other" nzLabel="Other"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-explain *ngIf="fieldInvalid('category')">
          {{ getErrorHint('category') }}
        </nz-form-explain>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="24" [nzMd]="18">
      <nz-form-item>
        <nz-form-label>Topic</nz-form-label>
        <nz-form-control>
          <input nz-input name="topic" id="topic" formControlName="topic"
                 aria-label="Topic of the message"
                 [placeholder]="placeholders.topic[form.value.category]">
        </nz-form-control>
        <nz-form-explain *ngIf="fieldInvalid('topic')">
          {{ getErrorHint('topic') }}
        </nz-form-explain>
      </nz-form-item>
    </div>

  </div>

  <!-- MESSAGE -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Message</nz-form-label>
        <nz-form-control>
            <textarea nz-input rows="8" name="message" id="message"
                      formControlName="message" aria-label="Message text"
                      [placeholder]="placeholders.message[form.value.category]"></textarea>
        </nz-form-control>
        <nz-form-explain *ngIf="fieldInvalid('message')">
          {{ getErrorHint('message') }}
        </nz-form-explain>
      </nz-form-item>
    </div>
  </div>

  <!-- BUTTONS -->
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control>
          <button nz-button type="submit" nzBlock [disabled]="form.invalid"
                  class="ant-btn ant-btn-primary">
            <i nz-icon type="mail"></i>
            <span>{{submitText}}</span>
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

</form>
