<nz-layout class="main-layout">

  <!-- Logo, main navigation, user menu -->
  <app-header></app-header>

  <!-- Breadcrumb and main content container -->
  <nz-content class="content">
    <!--TODO add breadcrumb component here-->
    <router-outlet></router-outlet>
  </nz-content>

  <!-- Copyright and some static links -->
  <app-footer></app-footer>

</nz-layout>
