.ant-card {
  min-width: 250px;
  margin-bottom: 25px;

  .header {
    margin: -25px -25px 0 -25px;
    padding: 15px 25px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1.2em;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      color: #333333;
      display: block;
    }

    .subtitle {
      color: #4d4d4d;
      font-size: 0.7em;
      margin: 0;
    }

    .main-button {
      display: block;
      margin-top: 10px;
    }
  }

  .body {
    padding: 24px 0;
  }

  .footer {
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #e8e8e8;
    text-align: right;
    margin-bottom: -24px;

    position: absolute;
    bottom: 24px;
    left: 0;
  }

}

.list-actions {
  margin: 30px 0;
  align-items: flex-end;
  flex-wrap: wrap;
  display: flex;

  @media screen and (max-width: 575px) {
    flex-direction: column;
    align-items: stretch;
  }

  .item {
    margin-right: 25px;
    margin-top: 20px;

    @media screen and (max-width: 575px) {
      margin-right: 0;
    }

    label {
      display: block;
    }
  }
}
