.error-box {

  h1 {
    margin-bottom: 10px;
  }

  .path-container {
    text-align: center;
    margin-bottom: 10px;

    .path {
      font-size: 1.1em;
      background: #e5f1ef;
      color: #2f7368;
      padding: 2px 5px;
    }
  }

}
