nz-form-explain {
  font-size: 0.9em;
}

nz-form-label {
  line-height: normal !important;
}

.submit-btn {
  width: 100%;
  padding: 0 0;
  height: 45px;

  margin-top: 10px;
  background: #3f9688;
  font-size: 1.2em;
  color: white !important;
  FONT-WEIGHT: bold;
  outline: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.submit-btn:disabled {
  color: #6f6f6f !important;
}

.submit-btn:hover {
  background: #44afa0;
  border: none;
}

.submit-btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background: #25877c;
}

.button-description-top {
  font-size: 0.8em;
  color: #585858;
  text-align: center;
  margin: 0 0 -7px;
}

.form-box {
  position: relative;
  width: 375px;
  margin: auto;
  padding: 35px;

  @media screen and (max-width: 480px) {
    width: auto;
  }

  background: white;

  border: 2px solid #3f9688;
  box-shadow: 0 0 0 5px #ffffff;

  .logo {
    float: none;
    width: 100%;
    text-align: center;
    color: white;
    background: #3f9688;
    font-size: 3em;
    text-transform: uppercase;
    cursor: pointer;


    @media screen and (max-width: 480px) {
      font-size: 2em;
    }
  }

  .form-links {
    p:first-child {
      margin: 0 0 5px 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2.2em;
    text-align: center;
    color: #3f9688;

    @media screen and (max-width: 480px) {
      font-size: 2em;
    }
  }

  label {
    padding-left: 5px;
  }

  input {
    margin-bottom: 20px;
    padding: 20px 25px;
    margin-top: 2px;
  }

  nz-form-explain {
    margin-top: -15px !important;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: 0.9em;
  }

}

.ant-form-item {
  margin-bottom: 10px;
}

.calendar-full-width {
  width: 100%;

  .ant-calendar-picker {
    width: 100%;
  }
}

.button-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  button {
    margin-bottom: 10px;
    width: 45%;
    text-align: left;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 5px 15px;

    i {
      font-size: 1.3em;
    }

    span {
      display: block;
      font-size: 0.8em;
    }
  }
}

.editable {

  input, textarea {
    border: none;
    border-bottom: 1px dashed #5e5e5e;
    outline: none;
    color: #687794;
  }

  input:read-only, textarea:read-only {
    color: #232323;
    border: none;
    background: none;
  }

  .edit-button {
    font-size: 0.8em;
    cursor: pointer;
    color: #737373;

    &:hover {
      color: #3f9688;
    }
  }

  &:hover {
    .edit-button {
      display: inline-block;
    }
  }
}

.elastic-input {
  background: none;
  border: 0;
  border-bottom: 1px dotted rgb(255, 203, 107);
  color: rgb(109, 194, 194);
  font-size: 40px;
}
