body {
  background-color: #120309;
}

nz-layout {
  height: 100%;
}

.right {
  float: right;
}

.main-layout {
  height: 100%;
  background: #f0f2f5;

  /* Main content container */
  nz-content {
    padding: 50px;
    margin: 50px;
    background: white;
    border-radius: 50px;
    /*100% - padding - header (with border) - footer (with padding) */
    min-height: calc(100vh - 100px - 67px - 66px);

    @media screen and (max-width: 480px) {
      margin: 0;
      border-radius: 0;
      padding: 30px;

      /* skip margin */
      min-height: calc(100vh - 67px - 66px);

    }
  }

  nz-footer {
    text-align: center;
  }

  .copyright {
    font-size: 0.9em;
    color: #475065;
    margin: 0 auto;
    display: inline-block;
  }

  .footer-actions {
    display: block;
    position: relative;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: -10px;

    @media screen and (min-width: 768px) {
      display: inline-block;
      position: absolute;
      margin: 0;
      right: 0;
      width: 15%;
    }

    a {
      color: #7788aa;
      cursor: pointer;
      margin-right: 10px;
    }

    a:hover {
      color: #475065;
    }
  }

  .ant-menu {
    //border-bottom: 3px solid #3f9688 !important;

    li {
      outline: none !important;
    }

    .active {
      color: white !important;
      background: #3f9688 !important;
    }
  }

  .ant-menu-item-group-title {
    background: #5b657b;
    padding: 6px 16px;
  }

  .user-menu {
    min-width: 180px;
    text-align: right;

    @media screen and (max-width: 480px) {
      min-width: 130px;
    }
  }

}

.sm-margin-right {
  margin-right: 5px;
}

.sm-margin-left {
  margin-left: 5px;
}

.sm-margin-top {
  margin-top: 5px;
}

.sm-margin-bottom {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}

.box-content {
  padding-top: 180px;

  @media screen and (max-width: 480px) {
    padding-top: 90px;
  }
}

.text-danger {
  color: #FF0000;
}

.text-warning {
  color: #FFA500;
}

.text-info {
  color: #142863;
}

.text-success {
  color: #5cd718;
}

.no-items-box {
  text-align: center;
  padding: 25px;

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

.only-mobile {
  @media screen and (min-width: 480px) {
    display: none !important;
  }
}

.hide-mobile {
  @media screen and (max-width: 480px) {
    display: none !important;
  }
}

.logo {
  float: left;
  padding: 0 15px;
  font-size: 1.5em;
  color: #5fb9ab;
  font-weight: bold;
  cursor: pointer;
  outline: none;

  &:hover {
    color: #70cdbf;
  }

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

nz-header {
  border-bottom: 3px solid #3f9688 !important;
  box-sizing: content-box !important;
}

.ant-menu-submenu-open {
  color: #7dd4c6 !important;
}

.ant-layout-header {
  padding: 0 40px;
}

.submenu-icon {
  margin-left: -10px;
  margin-right: 5px;
}

.ant-drawer-wrapper-body {
  height: 100%;
}

.contact-success {
  text-align: center;
  padding-top: 50px;

  i {
    font-size: 5em;
    color: #3f9688;
  }

  .header {
    font-weight: bold;
    font-size: 2em;
    margin: 20px 0 5px 0;
  }

  .message {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }

}

.ant-menu-vertical.ant-menu-sub {
  min-width: 210px !important;
}

.text-dark-cyan {
  color: #176356;
}
