.table-operations {
  margin: 40px 0 15px;

  fieldset {
    position: relative;
    padding: 20px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    min-width: 130px;

    nz-switch {
      padding: 3px;
    }

    legend {
      position: absolute;
      top: 0;
      font-size: 0.7em;
      color: #999;
      background: white;
      margin-top: -8px;
      margin-left: 5px;
      padding: 0 10px;
      width: auto;
    }
  }

}
