.ant-notification-notice-description a {
  color: blue !important;
}

.toast-success {
  background: #fcfffc;
  border-top: 3px solid limegreen;
  border-bottom: 2px solid limegreen;
}

.toast-info {
  background: #f2f8ff;
  border-top: 3px solid dodgerblue;
  border-bottom: 2px solid dodgerblue;
}

.toast-warn {
  background: #fffdfa;
  border-top: 3px solid orange;
  border-bottom: 2px solid orange;
}

.toast-error {
  background: #fff5f5;
  border-top: 3px solid red;
  border-bottom: 2px solid red;
}
