.control-panel {
  min-height: 50px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #b9b9b9;

  .panel-header {
    font-weight: bold;
    margin: 20px 0 10px 10px;
  }
}

.viewer-menu {
  .ant-menu-submenu-title {
    @media screen and (max-width: 480px) {
      padding: 0 13px;
    }
  }

  .pin {
    padding: 0 5px 0 10px;
    float: right;
    color: #6a6a6a;
    border: none;
  }

  .pin-selected{
    background: #3f9688;
    color: white;
  }

}

.canvas-container {
  position: relative;
  overflow: hidden;
  margin-right: 2px;

  .viewer-canvas {
    width: 100%;
    border: 1px solid #dadada;
    background: radial-gradient(ellipse at center, #f2f2f2 0%,#ffffff 100%);
  }

  .viewer-tooltip {
    position: absolute;
    top: 10px;
    left: 60px;
    padding: 5px;
    background: black;
    color: white;
    opacity: 0.3;
  }

  .viewer-tree {
    background: #475065;
    color: white;
    width: 320px;
    height: 100%;
    display: flex;
    margin-left: 5px;

    .toggle {
      width: 10px;
      height: 100%;
      background: #3f9688;
      cursor: pointer;

      &:hover {
        background: #3eafa1;
        box-shadow: -5px 0px 0 1px #3eafa1;
      }
    }

    .tree-container {
      height: 100%;
      padding: 20px;
      flex: 1;

      .tree-header {
        font-size: 1.5em;
        color: white;
        padding-bottom: 5px;
        border-bottom: 1px solid #3f9688;
      }

    }

    .tree-wrapper {
      height: 95%;
      overflow: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar-track
      {
        background-color: transparent;
      }

      &::-webkit-scrollbar
      {
        width: 5px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb
      {
        background-color: #3f9688;
        border-radius: 50px;
      }

      .ng-star-inserted > li {
        display: flex;
      }

      .ant-tree-treenode-switcher-open {
        flex-direction: column;

        & > .custom-node {
          margin: 5px 0 10px 22px;
          padding-right: 47px;
        }
      }

      .ant-tree-switcher {
        color: white;
      }

      .ant-tree-switcher_open {
        display: contents;

        & > i {
          background: #3f9688;
          color: white;
        }
      }

      .custom-node {
        display: flex;
        width: 100%;
        margin-right: 10px;
        padding-right: 15px;
        padding-left: 5px;

        &.locked {
          background: #6a7182 !important;
        }

        &:hover {
          background: #3f9688;
          padding-left: 5px;
          color: white;

          i {
            color: white !important;
          }
        }
      }

      .object-item {
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
      }

      .object-actions {
        flex: 1;
        justify-content: flex-end;
        text-align: right;
      }

    }

  }
}

.fixed-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.sidebar-hidden {
  transform: translateX(290px);
  transition: transform 0.1s ease;
}

/* TREE VIEW */
.hover {
  background: #3f9688;
  padding: 1px 5px;
  color: white;

  i {
    color: white !important;
  }
}

.group-name {
  width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.viewer-colors {
  background: #475065;
  width: 50px;
  padding: 5px;
  margin-right: 5px;

  .color-box {
    background: #808080;
    width: 100%;
    padding-bottom: calc(100% - 4px);
    border-radius: 21px;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      opacity: .75;
    }
  }

  .current-color {
    cursor: default;
    padding-bottom: calc(100% - 4px);
    border-width: 2px;
    border-radius: 0;
    cursor: default;

    &:hover {
      opacity: 1;
    }

  }

  .available-color {
    margin-bottom: 10px;
  }

}
