<nz-footer class="footer">

  <p class="copyright">
    Copyright © 2017-2019 MIT by Patryk Jakubowski
  </p>

  <div class="footer-actions">
    <!-- TODO display contact form for bugs -->
    <a nzTitle="Report a bug" nz-tooltip (click)="category='bug'; open()">
      <i nz-icon type="alert" theme="outline"></i>
    </a>
    <!-- TODO display contact form for humans -->
    <a nzTitle="Contact" nz-tooltip (click)="category='other'; open()">
      <i nz-icon type="mail" theme="outline"></i>
    </a>
    <!-- TODO add github page later -->
    <a nzTitle="Get the source!" nz-tooltip
       aria-label="Go to source code repository"
       rel="noreferrer"
       href="https://gitlab.com/viewerus/viewer3-frontend" target="_blank">
      <i nz-icon type="github" theme="outline"></i>
    </a>
  </div>

  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'55px', 'padding-right':'50px' }"
             [nzVisible]="visible" nzTitle="Contact us" nzPlacement="bottom" nzHeight="90%" (nzOnClose)="close()">

    <app-contact-form [email]="user.email" [blockEmail]="true" [category]="category"
                      (submit)="showSuccessBox()" *ngIf="!success"></app-contact-form>

    <div class="contact-success" *ngIf="success">

      <i nz-icon type="check-circle"></i>
      <h3 class="header">Message sent</h3>

      <p class="message">
        Administrator has received your message
        and will try to get in touch with you as soon possible.
      </p>

      <button nz-button nzType="primary" (click)="close()">
        Close
      </button>

    </div>

  </nz-drawer>
</nz-footer>
