<div class="form-box">

  <div class="logo" [routerLink]="['/']">viewer</div>
  <h1>Reset password</h1>

  <form [formGroup]="form" (ngSubmit)="submitForm()">

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="password">Password</nz-form-label>
      <nz-form-control>
        <input nz-input name="password" type="password" id="password"
               aria-label="New password"
               formControlName="password" placeholder="New password" />
        <nz-form-explain *ngIf="fieldInvalid('password')">
          {{ getErrorHint('password') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="repeatedPassword">Confirm password</nz-form-label>
      <nz-form-control>
        <input nz-input name="repeatedPassword" type="password" id="repeatedPassword"
               aria-label="Confirm new password"
               formControlName="repeatedPassword" placeholder="Confirm new password" />
        <nz-form-explain *ngIf="fieldInvalid('repeatedPassword')">
          {{ getErrorHint('repeatedPassword') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item >

    <nz-form-item>
      <nz-form-control>
        <button nz-button class="submit-btn"
                [disabled]="!form.valid" [title]="form.valid ? '' : 'Invalid input'">
          <i class="anticon anticon-spin anticon-loading" *ngIf="loading"></i>
          {{submitText}}
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>

</div>
