<div class="form-box">

  <div class="logo" [routerLink]="['/']">viewer</div>
  <h1>Activation</h1>

  <p>
    {{clientMessage}}
  </p>

  <button nz-button class="submit-btn" *ngIf="ready" [routerLink]="['/login']">
    Login page
  </button>

</div>
