<div class="form-box">

  <div class="logo" [routerLink]="['/']">viewer</div>
  <h1>Login</h1>

  <form [formGroup]="form" (ngSubmit)="submitForm()">

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="email">E-mail</nz-form-label>
      <nz-form-control>
        <input nz-input name="email" type="email" id="email"
               aria-label="Enter email"
               formControlName="email" placeholder="Enter email" />
        <nz-form-explain *ngIf="fieldInvalid('email')">
          {{ getErrorHint('email') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item >

    <nz-form-item style="margin-bottom: 0">
      <nz-form-label nzFor="password">Password</nz-form-label>
      <nz-form-control>
        <input nz-input name="password" type="password" id="password"
               aria-label="Enter password"
               formControlName="password" placeholder="Enter password" />
        <nz-form-explain *ngIf="fieldInvalid('password')">
          {{ getErrorHint('password') }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item >

    <nz-form-item>
      <nz-form-control>
        <button nz-button class="submit-btn"
                [disabled]="!form.valid" [title]="form.valid ? '' : 'Invalid input'">
          <i class="anticon anticon-spin anticon-loading" *ngIf="loading"></i>
          {{submitText}}
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>

  <div class="form-links">
    <p>Don't have an account? <a [routerLink]="['/register']">Register.</a></p>
    <p>Forgotten password? <a [routerLink]="['/recover-account']">Recover.</a></p>
  </div>

</div>
