<nz-layout style="height: 100%;">
  <nz-content class="box-content">

    <!-- Centered column -->
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzXs="20" nzSm="16" nzMd="12">

        <!-- Content wrapper -->
        <div class="error-box">

          <div class="form-box">

            <div class="logo" [routerLink]="['/']">viewer</div>
            <h1>{{page.subtitle}}</h1>

            <div class="path-container" *ngIf="page.showPath">
              <span class="path">
                {{page.path}}
              </span>
            </div>

            <p style="text-align: center">{{page.description}}</p>

            <button nz-button class="submit-btn"
                    [routerLink]="['/']"
                    *ngIf="page.showButton">
              <i nz-icon type="home" theme="fill"></i>
              GO HOME
            </button>

          </div>

        </div>
      </div>
    </div>

  </nz-content>
</nz-layout>
