<h1>My projects</h1>

<p>
  Manage all of your projects in one place.
</p>

<div class="list-actions">
  <button nz-button nzType="primary" nzSize="large"
          [routerLink]="['new']"
          [title]="disableCreation ? 'Feature not available for demo accounts.' : 'Create new project'"
          aria-label="Create new project"
          [disabled]="disableCreation"
          class="item">
    <i nz-icon type="plus" theme="outline"></i>
    Create
  </button>

  <div class="item">
    <label>Sort</label>
    <nz-select class="full-width" ngModel="createdAt.descend"
               (ngModelChange)="sort($event.split('.')[0], $event.split('.')[1]);" style="min-width: 100px;">
      <nz-option [nzValue]="'name.ascend'" nzLabel="A to Z" selected></nz-option>
      <nz-option [nzValue]="'name.descend'" nzLabel="Z to A"></nz-option>
      <nz-option [nzValue]="'createdAt.descend'" nzLabel="Latest"></nz-option>
      <nz-option [nzValue]="'createdAt.ascend'" nzLabel="Oldest"></nz-option>
    </nz-select>
  </div>

  <div class="item" style="min-width: 250px;">
    <label>Search</label>
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
      <form (ngSubmit)="fetchPage()">
        <input type="text" nz-input name="search" aria-label="Search"
               placeholder="Search by title..." [(ngModel)]="searchMap['name']">
      </form>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" (click)="fetchPage()"
              aria-label="Search" nzSearch>
        <i nz-icon type="search"></i>
      </button>
    </ng-template>
  </div>

  <button nz-button nzSize="default"
          nz-tooltip [nzTitle]="'Updated:' + lastUpdate | date:'mediumTime'"
          (click)="fetchData()"
          aria-label="Refresh project list"
          title="Refresh"
          class="item">
    <i nz-icon type="sync" theme="outline"></i>
  </button>

</div>

<nz-spin [nzSpinning]="loading">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }" style="display: flex;
    flex-wrap: wrap;
    align-items: stretch;">

    <div nz-col *ngFor="let data of pageData" style="margin-bottom: 32px;"
         [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="6" [nzXXl]="6">
      <nz-card style="min-height: 100%">

        <div class="header">

          <div>
            <span class="title" [title]="data.name">
              {{data.name}}
            </span>
          </div>

          <div style="margin-top: -5px;">
            <span class="subtitle" nzTitle="{{data.createdAt | date:'medium'}}" nz-tooltip>
              {{data.createdAt | date}}
            </span>
          </div>

          <button nz-button nzType="default" nzSize="large"
                  class="main-button"
                  [title]="data.ready ? 'open project' : 'not ready yet'"
                  [routerLink]="[data.id]" [disabled]="!data.ready">
            <i nz-icon type="select" theme="outline"></i>
            OPEN
          </button>

        </div>

        <div class="body">
          <span *ngIf="data.description">{{data.description}}</span>
          <em *ngIf="!data.description">No description</em>
        </div>

        <div class="footer">
          <button nz-button nzSize="small" nzType="danger" nzShape="circle"
                  nz-tooltip nzTitle="Remove" class="sm-margin-right"
                  nz-popconfirm nzTitle="Are you sure delete this task?"
                  aria-label="Delete project"
                  (nzOnConfirm)="remove(data.id)">
            <i nz-icon type="delete"></i>
          </button>
        </div>
      </nz-card>
    </div>

  </div>
</nz-spin>


<div class="no-items-box" *ngIf="itemsCount === 0" style="">

  <p style="margin: 0;">It's a bit empty in here...</p>
  <button nz-button nzType="primary" nzSize="large"
          [routerLink]="['new']" style="height: 60px;">
    Create first project
  </button>

</div>
